#homeUI {
    text-align:center;
    margin-top: 5%;
}

#loginUI {
    text-align:center;
    margin-top: 5%;
}

#canvas{
    outline: rgb(48, 48, 48) 5px solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }