#homeUI {
    text-align:center;
    margin-top: 5%;
}

#loginUI {
    text-align:center;
    margin-top: 5%;
}

#canvas{
    outline: black 3px solid;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }