<!doctype html>
<html>
    <head>
        <title>AMONGAIS</title>
        <meta charset="utf-8">
        <script src="ui.js"></script>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
    <body>
        <form itemid="login_form" name="login_form", onsubmit="login()">
            <label for="fuser">User Name:</label><br>
            <input type="text" id="fuser" name="fuser" value="BestUsernameEvah"><br>
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>

